<div class="container">

  <!-- Trigger the modal with a button -->


  <!-- Modal -->
  <div class="modal fade" id="mySearchModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body" >

         <div *ngIf="users.length!=0">
          <div  class="card" *ngFor="let user of users" >

            <div  class="search-result">
              <div class ="row">
              <div class="col-md-2" >
                <input type="hidden" value={{user._id}}>
                <img *ngIf="user.image" class="modal-image" src='{{user.image}}' />
                <img *ngIf="!user.image" class="modal-image" src='http://emilcarlsson.se/assets/louislitt.png'/>
              </div>
              <div class="col-md-8" style="padding-left: 30px;" ><h3><span><a class="modal-title">{{user.name}}</a></span></h3>
              <span class="search-link" (click)="startConversation(user)" >start a conversation</span>
              </div>

              </div>
            </div>

          <!-- <img *ngIf="user.image" class="modal-image" src='{{user.image}}' /><br><span><h4 class="modal-title">{{user.name}}</h4></span>
          <img *ngIf="!user.image" class="modal-image" src='http://emilcarlsson.se/assets/louislitt.png'/> <br>
          <p style="float: right;"> start a conversation </p> -->
        </div>
      </div>
      <div *ngIf="users.length==0" >
          <h4> No results found </h4>
      </div>
      </div>
      </div>

    </div>
  </div>

</div>
