.modal-title{
  font-weight: bold;
  margin-left: 150px;
  font-size: 30px;
  color:  #140555;
}
.modal-image{
  border-radius: 50%;
  border-color: indigo;
  border-width: 20px;
  width: 50%;
  margin-left: 115px;
}
.modal-description{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  margin-top: 40px;
  text-align: justify;
  color: cornflowerblue;
}
.modal-emailId{
  text-align: center;
  color: cornflowerblue;

}
