<div>
  <div class="row" style="background-color:#4a0072  ; height:50px; padding-left: 460px;" >
    <app-search-chat ></app-search-chat>
  </div>
  <div class="row" style="height:100%;">
    <div class="col-3">
      <div class="row" style="background-color:#7b1fa2; height:100px;">
        <a href="#" data-toggle="modal" data-target="#myModal"><app-current-user></app-current-user></a>
      </div>
      <div class="row">
        <app-chat-list class="overflowy" (chatClicked)="childChatClicked($event)" [searchedUser]="clickedUser"></app-chat-list>
      </div>
    </div>
    <div class="col-9">
      <div class="row" style="background-color: #d1c4e9; height:auto;">
        <app-current-chat [chat]="clickedChat"></app-current-chat>

      </div>

    </div>
  </div>
</div>
<app-user-profile></app-user-profile>
<app-search-modal (searchChat)="childSearchChatClicked($event)"></app-search-modal>
