<div style="margin-left: 15px;">
  <div style="background-color:#4a0072  ; height:50px; margin-left:-16px; " >
    <app-search-chat></app-search-chat>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="row" style="background-color:#7b1fa2; height:100px;">
        <app-current-user></app-current-user>
      </div>
      <div class="row" style=" height:500px;">
        <app-chat-list></app-chat-list>
      </div>
    </div>
    <div class="col-md-9">
      <div class="row" style="background-color: #d1c4e9; height:auto;">
        <app-current-chat></app-current-chat>

      </div>

    </div>
  </div>
</div>
