<div id="contacts">
    <div class="contact" [id]="chat.id" *ngFor="let chat of chats" (click)="openThisChat(chat)">
      <div class="wrap">
        <span class="contact-status" [ngClass]="{'online':chat.active}"></span>
        <img *ngIf="chat.imageUrl" src="{{chat.imageUrl}}" alt="" />
        <img *ngIf="!chat.imageUrl" src="http://emilcarlsson.se/assets/rachelzane.png" alt="" />
        <div class="meta">
          <p class="name">{{chat.name}}</p>
          <p class="preview">{{chat.messages[chat.messages.length-1]?.content}}</p>
        </div>
      </div>
    </div>
    <div *ngIf="chats.length==0" style="padding-top: 200px; ">

      <p style="text-align: center; opacity: 50%;"> No chats to display </p>
    </div>
</div>
