:host{
  width: 100% !important;

  overflow-y: auto;
}

:host::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
:host::-webkit-scrollbar-thumb {
  background: #FF0000;
}



#contacts{
  width: 100%;
}

div div.contact {

  padding: 20px;
  font-size: 0.9em;
  cursor: pointer;
  width: 100%;
  border-bottom:0.5px solid gray;
}

div div.contact:hover {
  background: #b39ddb;
}

div div.contact.active {
  background: #32465a;
  border-right: 5px solid #435f7a;

}

div div.contact.active span.contact-status {
  border: 2px solid #32465a !important;
  width: 100%;
}
div div.contact .wrap {
  width: 100%;

  position: relative;
}
div div.contact .wrap {
  width: 100%;
}

div div.contact .wrap span {
  position: absolute;
  left: 0;
  margin: -2px 0 0 -2px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid #2c3e50;
  background: #95a5a6;
}
div div.contact .wrap span.online {
  background: #2ecc71;
}


div div.contact .wrap img {
  width: 40px;
  border-radius: 50%;
  float: left;
  margin-right: 10px;
}

div div.contact .wrap img {
    margin-right: 0px;
}
 div div.contact .wrap .meta {
  padding: 5px 0 0 0;
}

 div div.contact .wrap .meta .name {
font-weight: 600;
}
 div div.contact .wrap .meta .preview {
margin: 5px 0 0 0;
padding: 0 0 1px;
font-weight: 400;
white-space: inherit;
overflow: hidden;
text-overflow: ellipsis;
-moz-transition: 1s all ease;
-o-transition: 1s all ease;
-webkit-transition: 1s all ease;
transition: 1s all ease;
}
 div div.contact .wrap .meta .preview span {
position: initial;
border-radius: initial;
background: none;
border: none;
padding: 0 2px 0 0;
margin: 0 0 0 1px;
opacity: .5;
}
