<div class="content">
  <div class="contact-profile">
    <img [src]="chat.imageUrl" alt="" />
    <p>{{chat.name}}</p>
  </div>
  <div class="messages" >
    <ul>
      <li *ngFor="let msg of msgs" class="{{msg.status}}">
        <img src="{{msg.imageUrl}}" alt="" />
        <p>{{msg.message}}</p>
      </li>

    </ul>
  </div>
  <div class="message-input">
    <div class="wrap">
    <input type="text" placeholder="Write your message..." name="mest" [(ngModel)]="messageText" />
      <!-- <button><i class="fas fa-paperclip"></i></button> -->
    <button class="btn btn-primary" (click)="sendMessage()" > <i class="fa fa-paper-plane" aria-hidden="true"></i> </button>
    </div>
  </div>
