<div class="content">
  <div class="contact-profile">
    <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
    <p>Tom Spectar</p>
  </div>
  <div class="messages" >
    <ul>
      <li *ngFor="let msg of msgs" class="{{msg.status}}">
        <img src="{{msg.imageUrl}}" alt="" />
        <p>{{msg.message}}</p>
      </li>

    </ul>
  </div>
  <div class="message-input">
    <div class="wrap">
    <input type="text" placeholder="Write your message..." />
    <i class="fa fa-paperclip attachment" aria-hidden="true"></i>
    <button class="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
    </div>
  </div>
