
:host{
  width: 100%;  
  overflow-x: hidden;
}
.content {
  float: right;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  min-width: 300px !important;

}

.content .contact-profile {
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: #f5f5f5;
  position: absolute;


}
.content .contact-profile img {
  width: 40px;
  border-radius: 50%;
  float: left;
  margin: 9px 12px 0 9px;
}
.content .contact-profile p {
  float: left;
}
.content .messages {
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 450px;
  margin-top: 80px;
  margin-left: -30px;
  margin-right: -20px;

}


.content .messages ul li {
  display: inline-block;
  clear: both;
  margin: 15px 15px 5px 15px;
  width: calc(100% - 25px);
  font-size: 0.9em;
}

.content .messages ul li.received img {
  margin: 6px 8px 0 0;
}
.content .messages ul li.received p {

  background: #ae52d4;
  color: #f5f5f5;
}
.content .messages ul li.sent img {
  float: right;
  margin: 6px 0 0 8px;
}
.content .messages ul li.sent p {
  background: #f5f5f5;
  float: right;
}
.content .messages ul li img {
  width: 22px;
  border-radius: 50%;
  float: left;
}
.content .messages ul li p {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 20px;
  max-width: 205px;
  line-height: 130%;
}

 .content .messages ul li p {
  max-width: 800px;
}

 .message-input {
  position: fixed;
  padding-left: 20px;
  bottom: 0;
  width: 100%;
  z-index: 0;
  background-color:#d1c4e9 ;
}
 .message-input .wrap {
  position: relative;
}
 .message-input .wrap input {
  font-family: "proxima-nova",  "Source Sans Pro", sans-serif;
  float: left;
  border-radius: 30px;
  width: 70%;
  padding: 11px 32px 10px 8px;
  font-size: 0.9em;
  color: #32465a;
  margin-bottom: 10px;

}
 .message-input .wrap input {
  padding: 15px 32px 16px 8px;
}
 .message-input .wrap input:focus{
  outline: none;
}

 .message-input .wrap button {
  border-radius: 50%;
  cursor: pointer;
  background-color: #ae52d4;
  margin-top: 10px;
  margin-left: 10px;
}

 .message-input .wrap button:hover {
  background: cornflowerblue;
}

